/*
* Group: Francis Corona, Ian Stewart
* Project: Social Network - Phase 3
* Due: 6/11/24, 11:59 PM EDT
*/

body.login-page, body.registration-page {
  overflow: hidden; /* Prevent scrolling on the page */
  display: flex;
  height: 100vh; /* Full height of the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height of the container */
  width: 100%; /* Full width of the container */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.centered-form .form-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  background-color: white; /* Background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
  border-radius: 30px; /* Rounded corners */
  text-align: center; /* Center text within the form container */
}

.centered-form .form-container .form-group {
  width: 100%; /* Ensure full width for input fields */
  margin-bottom: 15px;
}

.centered-form .form-container .button-container {
  display: flex;
  justify-content: center; /* Center the button */
}

.centered-form .form-container .btn {
  width: 100%; /* Make the button full width */
  max-width: 300px; /* Set a max width for the button */
}

/* Error message styling */
.error {
  color: red;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

/* Centering additional text */
.centered-form .form-container p {
  text-align: center;
  margin-bottom: 15px;
}

/* Social buttons styling */
.centered-form .form-container .social-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Add space above the social buttons */
  gap: 10px; /* Add space between the buttons */
}

.centered-form .form-container .social-buttons .btn-google {
  background-color: #EA4335; /* Google button red */
  border-color: #EA4335;
  color: white; /* Text color white */
  width: 145px; /* Google button width */
}

.centered-form .form-container .social-buttons .btn-github {
  background-color: #6c757d; /* GitHub button gray */
  border-color: #6c757d;
  color: white; /* Text color white */
  width: 145px; /* GitHub button width */
}
