html {
	margin: 0;
	padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #555753; 
	background: #fff;
	margin: 0; 
	padding: 0;
}

p { 
	margin-top: 0; 
	text-align: justify;
}

h1 {
    color: #1a7236;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

form {
    display: inline;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
