head
  // Page title
  title= 'Social Network: A CIS 371 Project'
  
  // Character set for the document
  meta(charset='UTF-8')
  
  // Viewport settings for responsive design
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  
  // Description of the web application
  meta(name='description' content='A CIS 371 social network app using REST')
  
  // Author information
  meta(name='author' content='Francis Corona, Ian Stewart')
  
  // Favicon for the website
  link(rel='icon', href='https://img.icons8.com/?size=96&id=19527&format=png', type='image/png')
  
  // Bootstrap CSS for styling
  link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet")
  
  // Custom CSS for styles
  link(rel='stylesheet', href='/common.css')
  link(rel='stylesheet', href='/profile.css')
  link(rel='stylesheet', href='/login.css')
  link(rel='stylesheet', href='/register.css')
