head
  title= 'Social Network: A CIS 371 Project'
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='A CIS 371 social network app using REST')
  meta(name='author' content='Francis Corona, Ian Stewart')
  link(rel='icon', href='https://img.icons8.com/?size=96&id=19527&format=png', type='image/png')
  link(rel='stylesheet', href='/common.css')
  link(rel='stylesheet', href='/profile.css')