doctype html
html(lang="en")
  include head.pug
  body
    .container
      .header
        header
          h1 ChatterBox
      .content
        block content
      .footer
        footer
          p &copy; 2024 ChatterBox. All rights reserved.
