doctype html
html(lang="en")
  head
    title= 'Social Network: A CIS 371 Project'
    meta(name='description' content='A CIS 371 social network app using REST')
    meta(name='author' content='Francis Corona, Ian Stewart')
    link(rel='icon', href='https://img.icons8.com/?size=96&id=19527&format=png', type='image/png')
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1 Social Network
    block content
    footer
      p &copy; 2024 Francis Corona & Ian Stewart
