extends layout

block content
  h1 Welcome!! Please log in! 😎
  if errorMessage
    span(style='color:red') Error: #{errorMessage}
  form(action='/login', method='post')
    br
    label(for='username') Email:
    input(type='email', name='username')
    br
    label(for='password') Password:
    input(type='password', name='password')
    br
    button(type='submit') Login
  br
  a(href='/register') Click to Register
  br
  a(href='/auth/google') Log in with Google
  br
  a(href='/auth/github') Log in with Github
