extends layout

block variables
  - var bodyClass = 'login-page'
  // Need to change the body class name so the appropriate style is used

block content
  .centered-form
    .form-container
      // Heading for the login form
      h1 Login
      // Conditional block to display error message if it exists
      if errorMessage
        // Display the error message
        .error
          p #{errorMessage}
      // Form for login with POST method
      form(action='/login', method='post')
        // Paragraph asking if the user is new
        p New to ChatterBox? 
          // Link to create a new account
          a(href='/register') Create Account
        // Include common elements from another Pug file
        include common-elements.pug
        // Include email input field
        +emailInput()
        // Include password input field
        +passwordInput()
        .form-group.button-container
          // Login button
          button.btn.btn-primary(type="submit") Login
        .social-buttons
          // Button for Google login
          button(type="button" class="btn btn-google btn-primary btn-sm" onclick="window.location.href='/auth/google'") Google Login
          // Button for GitHub login
          button(type="button" class="btn btn-github btn-primary btn-sm" onclick="window.location.href='/auth/github'") GitHub Login