extends layout

block content
  body.login-page
    .centered-form
      .form-container
        h1 Welcome!! Please log in! 😎
        if errorMessage
          .error Error: #{errorMessage}
        form(action='/login', method='post')
          .form-group
            label(for="exampleInputEmail1") Email address
            input.form-control#exampleInputEmail1(type="email", name='username', aria-describedby="emailHelp", placeholder="Enter email")
            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
          .form-group
            label(for="exampleInputPassword1") Password
            input.form-control#exampleInputPassword1(type="password", name='password', placeholder="Password")
          .form-group.form-check
            input.form-check-input#exampleCheck1(type="checkbox", name='remember')
            label.form-check-label(for="exampleCheck1") Remember me
          button.btn.btn-primary(type="submit") Login

        br
        a(href='/register') Click to Register
        br
        a(href='/auth/google') Log in with Google
        br
        a(href='/auth/github') Log in with Github
